@model IEnumerable<ProductModel>
<div class="col-sm-3">
	@Html.Partial("_SidebarPartial") @* nhúng một Partial View vào View chính*@
</div>
<style>
	.product-image-wrapper {
		height: 450px;
	}
</style>
<div class="col-sm-9 padding-right">
	<div class="features_items">
		<!--features_items-->
		<h2 class="title text-center" padding-top: 20px;>
			Danh sách sản phẩm
		</h2>
		@foreach (var item in Model)
		{

			<div class="col-sm-4">
				<div class="product-image-wrapper">
					<div class="single-products">
						<div class="productinfo text-center">
					<a asp-action="Details" asp-controller="Product" asp-route-Id="@item.Id">
								<img src="~/media/products/@item.Image" alt="PC" width="120" />
								<h2>@item.Price.ToString("#,##0 vnđ")</h2>
								<p>@item.Name</p>
								<p>Danh mục: @item.Category.Name</p>
								<p>Thương hiệu: @item.Brand.Name</p>
					</a>
								@* <a class="btn btn-default add-to-cart" asp-action="Add" asp-controller="Cart" asp-route-Id="@item.Id"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</a> *@
								<button class="btn btn-default add-to-cart" data-product_id="@item.Id"><i class="fa fa-shopping-cart"></i>Thêm giỏ </button>
							</div>
						</div>
					<div class="choose">
						<ul class="nav nav-pills nav-justified">
							<li><a href="#"><i class="fa fa-plus-square"></i>Yêu thích</a></li>
							<li><a href="#"><i class="fa fa-plus-square"></i>So sánh</a></li>
						</ul>
					</div>
				</div>
			</div>
		}
	</div><!--features_items-->
	

</div>
@section Scripts{
	<script>
		$(document).ready(function () {
			$('.add-to-cart').click(function () {
					var Id = $(this).data("product_id");
					//alert(product_id);
					$.ajax({
						type: "POST",
						url: "@Url.Action("Add", "Cart")",
						data: { Id: Id }, // Send data to the server

						success: function (result) {
							// Handle successful update
							if (result) {

								Swal.fire({
									title: "Thêm giỏ hàng thành công",
									icon: "success",
									draggable: true
								});
							}
						}

					});
			});
			});
	</script>
}